<div ng-controller="aboutController">
  <h2 class="title">About</h2>

  <div class="row">
    <div class="col-md-12">
      NetherWarhead is a for-funsies project built with the purpose of analyzing our favorite websites and learning some cool new dev tools (Node.js, AngularJS, D3, etc.).
      <br /><br />

      Got a cool idea? Tweet us and we’ll build it!
      <br /><br />

      <a href="https://twitter.com/intent/tweet?button_hashtag=NetherWarhead&text=Free%20beer%20and%20bacon%20at%20" class="twitter-hashtag-button" data-related="aliuy8,paperbackdragon" data-url="http://www.netherwarhead.com">Tweet #NetherWarhead</a>
      <br /><br />

      Want to join in on the coding fun? The project is open-source on GitHub, and we’d absolutely love your contributions.
      <br /><br />

      <iframe src="https://ghbtns.com/github-btn.html?user=netherwarhead&repo=netherwarhead&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      <iframe src="https://ghbtns.com/github-btn.html?user=netherwarhead&repo=netherwarhead&type=fork&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>

    </div>
  </div>

  <div class="row"><hr /></div>

  <div class="row">
    <div class="col-md-3">
      <img src="images/heather.jpg">
    </div>
    <div class="col-md-9">
      <h3>Heather Hoaglund-Biron</h3>
      Heather is a Software Engineer at EMC Isilon. When she’s not writing code, she plays video games, reads and writes fantasy/sci-fi, and eats as much Japanese food as possible.
      <br /><br />
      <a href="https://twitter.com/paperbackdragon" class="twitter-follow-button" data-show-count="false">Follow @paperbackdragon</a>
    </div>
  </div>

  <div class="row"><hr /></div>

  <div class="row">
    <div class="col-md-3">
      <img src="images/andrew.jpg">
    </div>
    <div class="col-md-9">
    <h3>Andrew Liu</h3>
    Andrew is a Software Engineer turned Program Manager working on the Azure DocumentDB team over at Microsoft. His favorite things include playing video games, writing codes, and drinking craft beers. Recently, he has developed a frightening love for Javascript.
    <br /><br />
    <a href="https://twitter.com/aliuy8" class="twitter-follow-button" data-show-count="false">Follow @aliuy8</a>
  </div>
</div>

<script src="http://platform.twitter.com/widgets.js"></script>
