<!-- Compositional charts using data from reddit -->
<div ng-controller="dataController">
  <h2 class="title">Data from the Top 25 Posts on Reddit</h2>
  <div class="row">
    <div class="col-md-6">
      <!-- Dropdown -->
      <div class="btn-group">
        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Choose subreddit <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#" ng-click="dataPull()">
            /r/all
          </a></li>
          <li><a href="#" ng-click="dataPull('dataisbeautiful')">
            /r/dataisbeautiful
          </a></li>
          <li><a href="#" ng-click="dataPull('programming')">
            /r/programming
          </a></li>
        </ul>
      </div>
      <!-- Subreddit name -->
      <div class="subreddit-name">
        <h4>{{ currentSub }}</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Report sub-page -->
    <div ng-include="chartTemplate"></div>


    <!--<div class="col-md-6 ng-cloak">
      Total Comments from the Top 25 Posts on /r/all: {{ num_comments }}
      <button ng-click="dataPull()" class="btn btn-default">Refresh</button>
    </div>-->
  </div>
</div>
