/* Nether Warhead Styles */

.nether-icon {
  background-color: #5cb85c;
  color: white;
  border: none;
  margin-top: -2px;
  border-radius: .2em;
}

/* D3 Chart Styles */

.chart {
  background: #4E5D6C;
  padding: 3px;
}

.bar {
  fill: #DF691A;
}

.axis text {
  fill: #fff;
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
